body{
  font-family: Arial, sans-serif;
}

.titulo{
    font-size: 15px;
}
header {
  background-color: #6B0F1A;
  color: white;
  padding: 35px 50px;
}
header h1{
  margin-bottom: 8px;
}
header nav{
  display:flex;
  flex-direction:row;
  gap: 1rem;
}

.main{
  flex:1;
  display:flex;
  flex-direction:row;
}

aside{
  width: 25%;
  background-color: #31081F;
  padding: 25px;
  color: white;
}

main{
  background-color: #fff5f2;
  padding: 30px;
  flex: 1;
  color: #0E0004;
}
main h2{
  color: #6B0F1A;
  margin-bottom: 12px;
}
main h3{
  color: #31081F;
  margin-bottom: 5px;
}

footer{
  height: 5vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color: #0E0004;
  color: white;
}

section{
  margin-bottom: 25px;
}
aside h2{
  color: #FF9B85;
  margin-bottom: 15px;
}
main p{
  line-height: 1.5;
}